/* line 1, ie.less */
.after-slider-cta .cta-btn a {
  padding: 15px;
}
/* line 4, ie.less */
.after-slider-cta .cta-btn a:after,
.benefits.style-3cols_third .item:before,
.benefits.style-3cols_fourth .item:before,
#footer-bar.style-cta .col-link:before,
.fw-pricing .fw-pricing-row:after,
.fw-pricing .fw-desc-row:after {
  display: none !important;
}
/* line 13, ie.less */
.wproto-slider-container {
  overflow: hidden;
}
