/** fonts **/
/** Primary and secondary fonts settings **/
/** Body colors **/
/** Header colors **/
/** body background **/
/** wrapper background **/
/** footer first widget area background **/
/** footer second widget area background **/
/** Footer colors **/
/** tabs **/
/* line 7, tabs_toggles.less */
.theme-tabs nav {
  border-bottom: 4px solid #fcd846;
  margin-bottom: 30px;
}
/* line 11, tabs_toggles.less */
.fs-tabs-tab {
  padding: 0 25px 20px 25px;
  display: inline-block;
  text-transform: uppercase;
  color: #7d7d7d;
  position: relative;
}
/* line 18, tabs_toggles.less */
.fs-tabs-tab:hover,
.fs-tabs-tab.fs-tabs-active {
  color: #fcd846;
}
/* line 21, tabs_toggles.less */
.fs-tabs-tab.fs-tabs-active:after {
  content: '';
  position: absolute;
  width: 24px;
  height: 13px;
  background-color: #ffffff;
  left: 50%;
  margin-left: -13px;
  bottom: -13px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJ4TWlkWU1pZCIgd2lkdGg9IjMwIiBoZWlnaHQ9IjEzIiB2aWV3Qm94PSIwIDAgMzAgMTMiPjxwYXRoIGZpbGw9IiNmY2Q4NDYiIGQ9Ik0zMC4wMDAsMi40NTggTDI2LjUwMCwtMC4wMDEgTDE1LjAwMCw4LjA4MCBMMy41MDAsLTAuMDAxIEwtMC4wMDAsMi40NTggTDE1LjAwMCwxMi45OTkgTDMwLjAwMCwyLjQ1OCBaIiAvPjwvc3ZnPg==) !important;
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 34, tabs_toggles.less */
.fs-tabs.fs-tabs-enabled:after {
  clear: both;
  content: '';
  display: table;
}
/* line 39, tabs_toggles.less */
.fs-tabs-tab.fs-tabs-enabled {
  box-sizing: border-box;
  border: none;
  cursor: pointer;
}
/* line 44, tabs_toggles.less */
.fs-tabs-tab.fs-tabs-enabled:focus {
  outline: none;
}
/* line 47, tabs_toggles.less */
.fs-tabs-content.fs-tabs-enabled {
  box-sizing: border-box;
  display: none;
}
/* line 51, tabs_toggles.less */
.fs-tabs-content.fs-tabs-enabled:after {
  clear: both;
  content: '';
  display: table;
}
/* line 56, tabs_toggles.less */
.fs-tabs-content.fs-tabs-active {
  display: block;
}
/* line 59, tabs_toggles.less */
.fs-tabs-tab.fs-tabs-mobile,
.fs-tabs-tab_mobile,
.fs-tabs-tab_mobile.fs-tabs-active {
  display: none;
}
/* line 64, tabs_toggles.less */
.fs-tabs-tab_mobile.fs-tabs-mobile,
.fs-tabs-tab_mobile.fs-tabs-mobile.fs-tabs-active {
  display: block;
  background: transparent;
  width: 100%;
  text-align: left;
  text-transform: none;
}
/* line 72, tabs_toggles.less */
.fs-tabs-mobile.fs-tabs-active + .fs-tabs-active {
  padding-left: 60px;
}
/** vertical tabs **/
/* line 76, tabs_toggles.less */
.theme-tabs.tabs-type-vertical.not-responsive {
  display: table;
}
/* line 78, tabs_toggles.less */
.theme-tabs.tabs-type-vertical.not-responsive nav {
  display: table-cell;
  margin: 0;
  border-bottom: 0;
  border-right: 4px solid #fcd846;
}
/* line 84, tabs_toggles.less */
.theme-tabs.tabs-type-vertical.not-responsive .tab_content.fs-tabs-active {
  display: table-cell;
  padding-left: 40px;
}
/* line 87, tabs_toggles.less */
.theme-tabs.tabs-type-vertical.not-responsive .tab_content.fs-tabs-active p:last-of-type {
  margin-bottom: 0;
}
/* line 91, tabs_toggles.less */
.theme-tabs.tabs-type-vertical.not-responsive .theme-tab {
  display: block;
  padding-right: 40px;
  white-space: nowrap;
}
/* line 96, tabs_toggles.less */
.theme-tabs.tabs-type-vertical.not-responsive .fs-tabs-tab {
  padding-left: 0;
}
/* line 99, tabs_toggles.less */
.theme-tabs.tabs-type-vertical.not-responsive .fs-tabs-tab.fs-tabs-active:after {
  content: '';
  background-image: none;
  border-right: 4px solid #fcd846;
  border-top: 4px solid #fcd846;
  border-left: 0;
  bottom: auto;
  top: 5px;
  margin: auto;
  width: 19px;
  height: 19px;
  background: #ffffff !important;
  right: -12px;
  left: auto;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 118, tabs_toggles.less */
body.rtl .theme-tabs.tabs-type-vertical.not-responsive nav {
  border-left: 4px solid #fcd846;
  border-right: 0;
}
/** toggles **/
/* line 125, tabs_toggles.less */
.theme-toggle,
.fs-tabs-tab_mobile.fs-tabs-mobile {
  cursor: pointer;
  display: none;
  margin: 0 0 20px 0;
  position: relative;
  font-size: 24px;
  font-weight: 300;
  color: #111111;
  padding-left: 60px;
  line-height: 40px;
}
/* line 136, tabs_toggles.less */
.style-small_font .theme-toggle {
  font-size: 18px;
  line-height: 40px;
}
/* line 140, tabs_toggles.less */
.fs-tabs-tab_mobile.fs-tabs-mobile {
  display: block;
}
/* line 143, tabs_toggles.less */
.theme-toggle:before,
.fs-tabs-tab.fs-tabs-mobile:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  background-color: #f3f3f3;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMzU3cHgiIGhlaWdodD0iMzU3cHgiIHZpZXdCb3g9IjAgMCAzNTcgMzU3IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAzNTcgMzU3OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PGc+PGc+PHBvbHlnb24gZmlsbD0iI2RhZGFkYSIgcG9pbnRzPSIzOC4yNSwwIDM4LjI1LDM1NyAzMTguNzUsMTc4LjUiLz48L2c+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjwvc3ZnPg==) !important;
  background-size: 10px 10px;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 157, tabs_toggles.less */
.fs-tabs-tab_mobile {
  overflow: visible;
  padding-bottom: 0 !important;
}
/* line 161, tabs_toggles.less */
.theme-toggle:after,
.fs-tabs-tab.fs-tabs-mobile:after {
  content: '';
  position: absolute;
  left: 0;
  top: 30px;
  opacity: 0;
  -webkit-transition: top 0.2s;
  -moz-transition: top 0.2s;
  -o-transition: top 0.2s;
  transition: top 0.2s;
  -moz-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  width: 0;
  height: 0;
  background-image: none !important;
  margin-left: 0;
  border-style: solid;
  border-width: 10px 20px 0 20px;
  border-color: #fcd846 transparent transparent transparent;
}
/* line 179, tabs_toggles.less */
.theme-toggle.fs-swap-active:before,
.fs-tabs-tab.fs-tabs-mobile.fs-tabs-active:before {
  background-color: #fcd846;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMzU3cHgiIGhlaWdodD0iMzU3cHgiIHZpZXdCb3g9IjAgMCAzNTcgMzU3IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAzNTcgMzU3OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PGc+PGc+PHBvbHlnb24gZmlsbD0iI2ZmZmZmZiIgcG9pbnRzPSIzOC4yNSwwIDM4LjI1LDM1NyAzMTguNzUsMTc4LjUiLz48L2c+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjwvc3ZnPg==) !important;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* line 185, tabs_toggles.less */
.theme-toggle.fs-swap-active:after,
.fs-tabs-tab.fs-tabs-mobile.fs-tabs-active:after {
  opacity: 1;
  top: 40px;
}
/* line 190, tabs_toggles.less */
.theme-toggle.fs-swap-enabled {
  display: block;
}
/* line 201, tabs_toggles.less */
.toggle {
  padding-left: 60px;
  margin-bottom: 40px;
}
/* line 205, tabs_toggles.less */
.toggle.fs-swap-enabled.fs-swap-target {
  display: none;
}
/* line 208, tabs_toggles.less */
.toggle.fs-swap-enabled.fs-swap-active {
  display: block;
}
